body {
    margin: 20px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.text{
    margin-top: auto;
    margin-bottom: auto;
    
}
.avatar {
    width: 150px;
    height: 200px;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}
.avatar:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}
.text:hover {
  color: #d8f3dc;
}
.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #344e41;
    color: #ffffff;
    border-bottom: 9px solid #a3b18a;
}

.border-blue {
    border: 1px dotted blue;
}
h3,h4,p {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);

}


